@import "tailwindcss";
@import "tw-animate-css";


:root {
  --background: #000000;
  --font-color: #ffffff;

  body {
    color: var(--font-color);
    font-family: var(--font-poppins), sans-serif;
    background-color: var(--background);
  }

  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
}