@import "tailwindcss";
@import "tw-animate-css";


:root {
  --background: #4f0063;
  --font-color: #ffffff;

  body {
    color: var(--font-color);
    font-family: var(--font-poppins), sans-serif;
    background-color: var(--background);
  }

  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
}

section {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .5);
  width: 90%;
  margin: 0 auto 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

main{
  padding-top: 100px;
}

h1{
  font-size: xxx-large;
}
h2{
  font-size: xx-large;
}
h3{
  font-size: x-large;
}
h4{
  font-size: large;
}
h5{
  font-size: medium;
}