    .habilidades h2 {
        margin: 15px 0 35px;
    }

    .habilidades {
        padding-bottom: 50px;
    }

    .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 70px;
        padding: 0 25%;
        align-items: center;
    }
f
    .icon {
        opacity: .8;
        transition: ease-in-out .1s;
    }

    .square {
        outline: solid 3px #A51D2D;
        border-radius: 5px;
        width: 60%;
        margin: 15%;
    }

    .divIcon {
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #A51D2D;
        transition: ease-in-out .1s;
    }

    .divIcon:hover{
        scale: 0.9;
    }

    .divIcon h4 {
        position: absolute;
        transition: ease-in-out .1s;
        opacity: 0;
    }

    .divIcon:hover h4 {
        position: absolute;
        transform: translateY(250%);
        opacity: 1;
    }