.feedbacks {
    margin-bottom: 50px;
    padding: 0 150px 50px;
}

.title {
    margin: 15px 0 25px;
}

.comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.person {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(50% - 25px);
    box-sizing: border-box;
    outline: solid;
    outline: solid 1px #4a4a4a;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.divider {
    all: unset;
    height: 2px;
    background-color: #4a4a4a;
}